.status-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar__column:first-child {
    margin-right: auto;
}

.status-bar__column:last-child {
    margin-left: auto;
}

.status-bar__icons {
    display: flex;
    padding-left: 15px;
}

.status-bar__icons: